# conf/config.yaml
defaults:
  - experiment: demo # use demo.yaml by default
  - _self_

model_id: 'tutorial'

# General
seed: 1867
verbose: true
mlflow_tracking: false
train: true

# Data
img_path: "flickr8k/Images"
captions_path: "flickr8k/captions.txt"

# Checkpoint
loss_type: 'loss' # use 'val_loss' for validation split
save_best_only: true
save_weights_only: false
mode: 'min'

# Inference (for when train is false)
inference: false
model_path: "./models/best_model.keras"
tokenizer_path: "./models/tokenizer.pkl"
features_path: "./models/features.pkl"
max_length_path: "./models/max_length.txt"
image_id_number: 40

# CNN
optimizer: 'adam'
loss: 'categorical_crossentropy'

# LSTM
epochs: 5
batch_size: 64

# Notebook
n_captions: 100
example_img_path: "flickr8k/Images/667626_18933d713e.jpg"