name: "Run tests"

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Decode GDrive credentials
      run: echo "${{ secrets.GDRIVE_CREDENTIALS_DATA }}" | base64 --decode > gdrive-credentials.json

    - name: Set up DVC
      uses: iterative/setup-dvc@v1

    # - name: Write GDrive credentials to file
    #   run: |
    #     mkdir -p .secrets
    #     echo "${{ secrets.GDRIVE_CREDENTIALS_DATA }}" > .secrets/dvc-drive-key.json

    # - name: Pull data with DVC
    #   run: dvc pull
    #   env:
    #     GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}

    - name: Pull data
      run: |
        dvc remote modify gdrive gdrive_use_service_account true
        dvc remote modify gdrive gdrive_service_account_json_file_path .secrets/dvc-drive-key.json
        dvc pull

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_tests.txt

    - name: Test with pytest
      run: pytest -v
